<div>
  <h2>{{ vm.chore.name }}</h2>
  <h3>Add Activity</h3>
  <div class="row" collapse="vm.showCalendar">
    <div class="col-xs-6 col-sm-4">
      <button class="btn btn-block btn-primary" ng-disabled="vm.disabled"
              ng-click="vm.doneToday()"
              >Today</button>
    </div>
    <div class="col-xs-6 col-sm-4">
      <button class="btn btn-block btn-info" ng-disabled="vm.disabled"
              ng-click="vm.doneYesterday()">Yesterday</button>
    </div>
    <div class="col-xs-12 col-sm-4">
      <br class="visible-xs-block"/>
      <button class="btn btn-block" ng-disabled="vm.disabled"
              ng-click="vm.showCalendar = true">
        <span class="glyphicon glyphicon-calendar"></span> Other date</button>
    </div>
  </div>
  <div collapse="!vm.showCalendar">
    <div class="row">
      <div datepicker ng-model="vm.dt" max-date="vm.today"
           show-weeks="true" class="col-xs-12"
           date-disabled="vm.getDisabled(date)">
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-6 col-sm-4" ng-if="vm.dt">
        <button class="btn btn-block btn-primary" ng-disabled="vm.disabled"
                ng-click="vm.doneOn(vm.dt)"
                >{{ vm.dt | date }}</button>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a ng-click="vm.showCalendar = false">Cancel</a>
      </div>
    </div>
  </div>
  <h3>History</h3>
  <table class="table" st-table="vm.chore.activities">
    <thead>
      <tr>
        <th st-sort="who">Who</th>
        <th st-sort="when" st-sort-default="reverse">When</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="activity in vm.chore.activities">
        <td>{{ activity.who }}</td>
        <td>{{ activity.when | date }}</td>
        <td>
          <button class="btn btn-danger" ng-click="vm.remove(activity)">
            <span class="glyphicon glyphicon-trash">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Edit</h3>
  <form novalidate name="form">
    <div class="form-group">
      <label class="control-label">Frequency</label>

      <div class="input-group"
           ng-class="{'has-error': !form.frequency.$valid, 'has-success': form.frequency.$valid}">
        <span class="input-group-addon">Every</span>
        <input type="number" class="form-control" required
               name="frequency" min="1" max="365"
               ng-model="vm.chore.frequency"/>
        <span class="input-group-addon">days</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2">
        <button class="btn btn-large btn-primary btn-block"
                ng-disabled="form.$invalid"
                ng-click="vm.save()">Save</button>
      </div>
    </div>
  </form>

</div>
