<table class="table" st-table="vm.choreList">
  <thead>
    <tr>
      <th st-sort="name">Name</th>
      <th st-sort-default="true" st-sort="next">Next</th>
      <th st-sort="frequency">Frequency</th>
      <th>Last</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in vm.choreList"
        ng-class="{'bg-warning': row.isOverdue}"
        ui-sref="choreCat.detail({ id: row.id })"
        >
      <td>{{row.name}}</td>
      <td ng-if="!row.isOverdue">{{ row.next | fromNow }}</td>
      <td ng-if="row.isOverdue"><span class="glyphicon glyphicon-warning-sign"></span> NOW!</td>
      <td>every {{row.frequency}} days</td>
      <td ng-if="row.last">{{ row.last.when | fromNow }} by {{ row.last.who }}</td>
      <td ng-if="!row.last">-</td>
    </tr>
  </tbody>
</table>
